body {
    background: #f3f4fb;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
}

.card {
    width: 40%;
    background: white;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 22px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
    margin: 50px auto;
    height: 200px;
}

.img-div {
    width: 25%;
    height: 100%;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.img-div img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.info-plant h2 {
    font-size: 48px;
    font-weight: 700;
    color: rgb(59, 58, 58);
    margin-bottom: 5px;
    margin-top: 0;
}

.info-plant h3 {
    font-size: 24px;
    color: rgb(105, 102, 102);
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 0;
}

.info-plant p {
    color: #031801;
    font-size: 24px;
    font-weight: bold;
}


.property-card {
    width: 340px;
    background: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* IMAGE */
.image-box {
    position: relative;
    height: 200px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heart {
    position: absolute;
    right: 16px;
    top: 16px;
    background: white;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

/* CONTENT */
.content {
    padding: 16px;
    padding-bottom: 0;
}

.sub-title {
    font-size: 12px;
    color: #7e8792;
    font-weight: 600;
    letter-spacing: 1px;
}

.price {
    margin: 6px 0;
    color: #1f2937;
    font-size: 24px;
}

.address {
    color: #7e8792;
    font-size: 14px;
}

/* DETAILS ROW */
.details-row {
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
}

.info {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #4b5563;
    font-size: 14px;
}

/* AGENT ROW */
.agent-row {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px;
}

.agent-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.agent-name {
    margin: 0;
    color: #1f2937;
    font-size: 15px;
}

.agent-phone {
    margin: 0;
    color: #6b7280;
    font-size: 13px;
}

/* BUTTON */
.show-btn {
    width: 100%;
    border: none;
    padding: 16px 0;
    background: #384ecc;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}