body {
    background: #f1f4f8;
    font-family: "Inter", sans-serif;
}

.card {
    width: 430px;
    background: white;
    padding: 25px 30px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 22px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.08);
    margin: 50px auto;
}

.img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.info h2 {
    font-size: 20px;
    font-weight: 600;
    color: #181f2b;
    margin-bottom: 3px;
}

.info h3 {
    font-size: 15px;
    color: #6e60ff;  
    font-weight: 500;
    margin-bottom: 8px;
}

.info p {
    color: #6c7a89;   
    font-size: 14px;
    margin-bottom: 4px;
}
