* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    background: #f4f5f7;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

/* MAP BOX */
.map-box img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 6px;
}

/* CARD DESIGN */
.card {
    background: white;
    padding: 22px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.card:last-child {
    border-bottom: none;
}

.left h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom:20px;
    color: #333;
}

.stars {
    color: #ff9d00;
    font-size: 16px;
    margin-bottom: 20px;
}

.stars span {
    color: #333;
    font-size: 14px;
    margin-left: 5px;
}

.type,
.address,
.hours {
    font-size: 14px;
    color: #4a4a4a;
    margin-bottom: 4px;
}

/* IMAGE BOX */
.right img {
    width: 130px;
    height: 110px;
    border-radius: 8px;
    object-fit: cover;
}
