body {
    background: #f5f7fa;
    font-family: "Inter", sans-serif;
    margin: 0;
}

#nav-logo {
    margin-left: 50px;
    height: 50px;
    width: 50px;
}

#nav-logo img {
    height: 100%;
    width: 100%;
}

#navbar {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: end;
    justify-content: space-between;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.04);
}

.nav-item {
    display: flex;
    width: 30%;
    margin-right: 50px;
    justify-content: space-between;
}

.items {
    text-decoration: none;
    font-size: 16px;
    color: #7c8694;
    /* de-emphasized */
    font-weight: 500
}

.active-item{
    color: #1a2db0;
    /* deep blue (emphasized) */
    font-weight: 600;
}

#content {
    padding: 20px;
}