* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

/* Background */
body {
  background: linear-gradient(to bottom right, #e8f0ff, #dbe6ff);
  padding: 40px;
}

/* Main Wrapper */
.wrapper {
  max-width: 1100px;
  background: #ffffff;
  margin: auto;
  padding: 40px;
  border-radius: 14px;
  display: flex;
  gap: 40px;
  border: 1px solid #d7ddf0;
  box-shadow: 0px 12px 30px rgba(60, 100, 255, 0.1);
}

/* LEFT + RIGHT SECTIONS */
.left {
  flex: 1;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Titles */
h2 {
  font-size: 22px;
  color: #1d2a58;
  margin-bottom: 20px;
  font-weight: 700;
}

/* BILLING TEXT + TOGGLE */
.billing {
 display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
  color: #3d4f91;
  margin-left: 260px;
}

/* Toggle Switch */
.switch {
  position: relative;
  width: 46px;
  height: 22px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  background: #b9c5ff;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

input:checked + .slider {
  background: #4169e1;
}

input:checked + .slider::before {
  transform: translateX(24px);
}

/* Form Inputs */
.form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #cdd6ff;
  background: #f3f6ff;
  transition: 0.2s;
}

.form input:focus {
  border-color: #4169e1;
  background: white;
  box-shadow: 0 0 0 3px rgba(65, 105, 225, 0.2);
}

.card-row {
  display: flex;
  gap: 12px;
}

/* Button */
.create-btn {
  width: 100%;
  padding: 14px;
  background: #4169e1;
  color: white;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 6px;
  font-size: 15px;
  box-shadow: 0px 4px 12px rgba(65, 105, 225, 0.3);
  transition: 0.2s ease;
}

.create-btn:hover {
  background: #3558c7;
  box-shadow: 0px 6px 16px rgba(65, 105, 225, 0.45);
}

/* PLAN CARDS */
.plan {
  background: #f4f6ff;
  padding: 16px 20px;
  border-radius: 10px;
  border: 1px solid #ccd6ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.25s ease;
}

.plan:hover {
  border-color: #4169e1;
  background: #ebefff;
}

.plan.selected {
  border: 2px solid #4169e1;
  background: #e5ebff;
  box-shadow: 0px 4px 12px rgba(65, 105, 225, 0.2);
}

.plan h3 {
  font-size: 13px;
  color: #2a3571;
  font-weight: 700;
}

.big {
  font-size: 28px;
  font-weight: 700;
  color: #1e2f80;
}

.big span {
  font-size: 14px;
  color: #6776a7;
}

.small {
  font-size: 13px;
  color: #6e7bb8;
  margin-top: -4px;
}

