* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #f1f1f1;
  padding: 40px;
}

.wrapper {
  max-width: 1100px;
  background: white;
  margin: auto;
  padding: 40px;
  border-radius: 12px;
  display: flex;
  gap: 40px;
  border: 1px solid #e0e0e0;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.billing {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
  color: #555;
}

/* TOGGLE SWITCH */
.switch {
  position: relative;
  width: 42px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  background: #bbb;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.slider::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

input:checked + .slider {
  background: #888;
}

input:checked + .slider::before {
  transform: translateX(22px);
}

/* FORM */
.form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
  background: #f8f8f8;
}

.card-row {
  display: flex;
  gap: 8px;
}

.create-btn {
  width: 100%;
  padding: 12px;
  background: #5b5b5b;
  color: white;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 6px;
}

/* PLANS */
.plan {
  background: #f4f4f4;
  padding: 14px 18px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan.selected {
  border: 2px solid #666;
  background: #eaeaea;
}

.plan h3 {
  font-size: 12px;
  color: #555;
}

.big {
  font-size: 26px;
  font-weight: 700;
}

.big span {
  font-size: 14px;
  color: #777;
}

.small {
  font-size: 12px;
  color: #777;
  margin-top: -4px;
}

.billing{
    margin-left: 270px;
}