body {
    font-family: "Inter", sans-serif;
    background: #f4f6fa;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.box {
    width: 500px;
    padding: 40px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    border: 2px solid #42505a;
}

h2 {
    margin-bottom: 20px;
    font-size: 26px;
}

p {
    font-size: 17px;
    line-height: 1.5; 
    color: #42505a;
}
