body {
    margin: 0;
    font-family: Inter, sans-serif;
    background: #fff;
}

/* ================= Top Bar ================= */
.top-bar {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 20px 30px;
    border-bottom: 1px solid #ddd;
}

.top-bar label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 6px;
}

/* Same input design*/
.top-bar select,
.top-bar input {
    width: 300px;
    height: 38px;
    padding: 8px 12px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    font-size: 14px;
    color: #777;
}

/* ================= Font List ================= */
.font-list {
    width: 92%;
    margin: 30px auto;
}

.font-item {
    padding: 22px 10px;
    border-bottom: 1px solid #e5e5e5;
}

/* First Row: name + styles + icons */
.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name {
    font-size: 16px;
    font-weight: 600;
}

.styles {
    font-size: 14px;
    color: #777;
}

/* Icons*/
.icons {
    margin-left: auto;
    display: flex;
    gap: 20px;
    font-size: 16px;
    opacity: 0.7;
    cursor: pointer;
}

/* Sample Text full left aligned */
.sample {
    margin-top: 18px;
    font-size: 32px;
    color: #333;
    text-align: left;
}
