body {
    background: #f5f6fa;
    font-family: 'Inter', sans-serif;
    padding: 40px;
}

.card {
    display: flex;
    background: white;
    overflow: hidden;
    border: 1px solid #c7c6c6;
    max-width: 950px;
    margin: auto;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left {
    width: 48%;
}

.right {
    width: 52%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    font-size: 20px;
    font-weight: 600;
    color: #2c2c2c;
    margin-bottom: 40px;
}

.title {
    font-family: 'Merriweather', serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    /* margin-bottom: 18px; */
    color: #222;
}

.subtitle {
    font-size: 16px;
    color: #555;
    margin-bottom: 28px;
}

.btn {
    background: #6a4cc3;
    color: white;
    padding: 12px 22px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    width: 30%;
}

.btn:hover {
    background: #5b41aa;
}

/* Responsive */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }

    .right {
        padding: 24px;
    }
}
