:root {
  --bg: #fbf6ec;
  --text: #1c1c1c;
  --muted: #4a4a4a;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Crimson Text", serif;
  -webkit-font-smoothing: antialiased;
}

/* TOP BORDER */
.top-border {
  height: 22px;
  background-image: url("assets/svg/topborder.svg");
  background-repeat: repeat-x;
  background-size: auto 100%;
}

/* NAVBAR */

.nav-inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-right: 20px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 32px;
  font-family: serif;
  font-weight: 600;
  color: var(--text);
}

.nav-logo img {
  width: 32px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-self: end;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: var(--text);
}

.nav-links a:hover {
  text-decoration: underline;
}

/* LANDING */
.landing {
  max-width: 980px;
  margin: 90px auto 0;
  text-align: center;
  padding: 0 24px;
}

/* TITLE */
.landing-title {
  font-size: 88px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.02em;
}

/* ICON FIX */
.icon-wrap {
  display: inline-block;
  vertical-align: middle;
  margin: 1px;
  margin-bottom: 20px;
}

#icon-wrap-1 {
  margin-bottom: 10px;
}

.icon-wrap img {
  height: 0.85em;
  display: inline-block;
  vertical-align: middle;
}

/* TEXT */
.landing-text {
  font-size: 14px;
  line-height: 1.65;
  color: var(--muted);
  margin-bottom: 36px;
}

/* LINKS */
.landing-links {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.landing-links a {
  font-size: 14px;
  text-decoration: none;
  color: var(--text);
}

.borderSection {
  position: relative;
  width: 100%;
  min-height: 400px;
  padding-top: 40px;
}

/* ================= TITLE BORDER ================= */
.titleBorder {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  /* ek ke neeche ek */
}

/* LEFT & RIGHT LINES */
.titleBorder .line {
  flex: 1;
  height: 100%;
  background-image: url("assets/svg/border.svg");
  background-repeat: repeat-x;
  background-size: auto 100%;
}

/* TEXT IMAGE */
.titleBorder .title img {
  padding: 0 20px;
  height: 40px;
  width: auto;
  position: relative;
  top: -2px;
}

/* ================= COMMON BORDER ================= */

.border {
  position: absolute;
  top: 70px;
  bottom: 0;              
  width: 50px;
  background-image: url("assets/svg/border.svg");
  background-size: 100% auto;
}

/* LEFT */
.border.left {
  left: 0;
  
}

/* RIGHT */
.border.right {
  right: 0;

}

/*===============PluginCard================*/
.pluginCard {
  background: #ffa76b;
  padding: 60px;
  margin: 60px auto;
  max-width: 1200px;

  /* rough edges feel */
  border-radius: 6px;
  box-shadow:
    -6px 0 0 #ffa76b,
    6px 0 0 #ffa76b,
    0 -6px 0 #ffa76b,
    0 6px 0 #ffa76b;
}

.pluginContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/* LEFT */
.pluginText {
  max-width: 55%;
}

.titleSvg {
  height: 60px;
  margin-bottom: 20px;
}

.pluginText p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #1c1c1c;
}

/* BUTTONS */
.actions {
  display: flex;
  gap: 20px;
}

.pixelBtn {
  background: transparent;
  padding: 12px 28px;
  border: 2px dashed #1c1c1c;
  font-size: 16px;
  cursor: pointer;
}

/* RIGHT ICON */
.pluginIcon img {
  width: 240px;
  height: auto;
  image-rendering: pixelated;
}


/*===============databaseCard==============*/

.databaseCard {
  background: #fde7db;
  padding: 70px 80px;
  margin: 80px auto;
  max-width: 1200px;

  /* rough paper feel */
  border-radius: 8px;
  box-shadow:
    -8px 0 0 #fde7db,
    8px 0 0 #fde7db,
    0 -8px 0 #fde7db,
    0 8px 0 #fde7db;
}

.databaseContent {
  display: flex;
  align-items: center;
  gap: 80px;
}

/* LEFT ICON */
.databaseIcon img {
  width: 260px;
  image-rendering: pixelated;
}

/* RIGHT TEXT */
.databaseText {
  max-width: 55%;
}

.titleSvg {
  height: 60px;
  margin-bottom: 20px;
}

.databaseText p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 32px;
  color: #1c1c1c;
}

/* BUTTONS */
.actions {
  display: flex;
  gap: 24px;
}

.pixelBtn {
  background: transparent;
  padding: 14px 36px;
  border: 2px dashed #1c1c1c;
  font-size: 18px;
  cursor: pointer;
}

/*=======================communityCard=================*/
.communityCard {
  background: #fde7db;
  padding: 70px 80px;
  margin: 80px auto;
  max-width: 1200px;

  border-radius: 8px;
  box-shadow:
    -8px 0 0 #fde7db,
    8px 0 0 #fde7db,
    0 -8px 0 #fde7db,
    0 8px 0 #fde7db;
}

.communityContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

/* LEFT TEXT */
.communityText {
  max-width: 55%;
}

.titleSvg {
  height: 60px;
  margin-bottom: 24px;
}

.communityText p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 32px;
  color: #1c1c1c;
}

/* BUTTONS */
.actions {
  display: flex;
  gap: 24px;
}

.pixelBtn {
  background: transparent;
  padding: 14px 36px;
  border: 2px dashed #1c1c1c;
  font-size: 18px;
  cursor: pointer;
}

/* RIGHT ICON */
.communityIcon img {
  width: 260px;
  image-rendering: pixelated;
}

/*==================datayCard===================*/

.dataYCard {
  background: #fde7db;
  padding: 70px 80px;
  margin: 80px auto;
  max-width: 1200px;

  border-radius: 8px;
  box-shadow:
    -8px 0 0 #fde7db,
    8px 0 0 #fde7db,
    0 -8px 0 #fde7db,
    0 8px 0 #fde7db;
}

.dataYContent {
  display: flex;
  align-items: center;
  gap: 80px;
}

/* LEFT ICON */
.dataYIcon img {
  width: 260px;
  image-rendering: pixelated;
}

/* RIGHT TEXT */
.dataYText {
  max-width: 55%;
}

.titleSvg {
  height: 60px;
  margin-bottom: 24px;
}

.dataYText p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 36px;
  color: #1c1c1c;
  font-family: 'DotGothic16', monospace;
  font-size: 16px;
  letter-spacing: 1.5px;

}

/* BUTTON */
.actions {
  display: flex;
}

.pixelBtn {
  background: transparent;
  padding: 14px 48px;
  border: 2px dashed #1c1c1c;
  font-size: 18px;
  cursor: pointer;
}

/*=============update-section======================*/

.updatesection {
  background: #fbf6ec;
}

.updates-container {
  max-width: 1100px;
  margin: 150px;
  margin-top: 60px;
}

.update-row {
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 50px;
  padding: 22px 0;
}

/* DATE STYLE */
.update-date {
  font-family: monospace;
  font-size: 18px;
  letter-spacing: 1px;
  color: #1c1c1c;
}

/* TITLE STYLE */
.update-title {
  font-family: serif;
  font-size: 20px;
  line-height: 1.4;
  color: #000;
}


/*==============resource-section===========================*/

/* SECTION */
.resourceSection {
  font-family: serif;
}

/* GROUP */
.resourceGroup {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 60px;
  margin-top: 150px;
}

.groups{
  padding: 150px;
  padding-top: 60px;
}

.resourceType h1 {
  font-size: 28px;
  font-weight: bold;
  color: #4a4a4a;
}

/* LIST */
.resourceList {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* ROW */
.resourceRow {
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: baseline;
}

/* LABEL (Report / Guidelines / Database) */
.resourceLabel {
  font-size: 22px;
  color: #8a8a8a;
  font-family: serif;
}

/* MAIN TITLE */
.resourceTitle {
  font-size: 24px;
  color: #000;
  line-height: 1.4;
}

/*============Button-Boder============*/
.bottom-boder {
  position: relative;        
  width: 100%;
  height: 50px;
  background-image: url("assets/svg/border.svg");
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: left bottom;
}




/* RESPONSIVE */
@media (max-width: 768px) {

  .nav-inner {
    padding-right: 8px;
  }

  .nav-links {
    gap: 5px;
  }

  .nav-links a {
    font-size: 11px;
  }

  .nav-logo {
    font-size: 16px;
    gap: 3px;
  }

  .nav-logo img {
    width: 16px;
  }

  .landing-title {
    font-size: 52px;
  }

  .projectText img {
    height: 150px;
    width: 150px;
  }
}