:root {
  --bg: #fbf6ec;
  --text: #1c1c1c;
  --muted: #4a4a4a;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Crimson Text", serif;
  -webkit-font-smoothing: antialiased;
}

/* TOP BORDER */
.top-border {
  height: 22px;
  background-image: url("assets/svg/topborder.svg");
  background-repeat: repeat-x;
  background-size: auto 100%;
}

/* NAVBAR */

.nav-inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-right: 20px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 32px;
  font-family: serif;
  font-weight: 600;
  color: var(--text);
}

.nav-logo img {
  width: 32px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-self: end;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: var(--text);
}

.nav-links a:hover {
  text-decoration: underline;
}

/* LANDING */
.landing {
  max-width: 980px;
  margin: 90px auto 0;
  text-align: center;
  padding: 0 24px;
}

/* TITLE */
.landing-title {
  font-size: 88px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.02em;
}

/* ICON FIX */
.icon-wrap {
  display: inline-block;
  vertical-align: middle;
  margin: 1px;
  margin-bottom: 20px;
}

#icon-wrap-1 {
  margin-bottom: 10px;
}

.icon-wrap img {
  height: 0.85em;
  display: inline-block;
  vertical-align: middle;
}

/* TEXT */
.landing-text {
  font-size: 14px;
  line-height: 1.65;
  color: var(--muted);
  margin-bottom: 36px;
}

/* LINKS */
.landing-links {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.landing-links a {
  font-size: 14px;
  text-decoration: none;
  color: var(--text);
}

.borderSection {
  position: relative;
  width: 100%;
  min-height: 400px;
  padding-top: 40px;
}

/* ================= TITLE BORDER ================= */
.titleBorder {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  /* ek ke neeche ek */
}

/* LEFT & RIGHT LINES */
.titleBorder .line {
  flex: 1;
  height: 100%;
  background-image: url("assets/svg/border.svg");
  background-repeat: repeat-x;
  background-size: auto 100%;
}

/* TEXT IMAGE */
.titleBorder .title img {
  padding: 0 20px;
  height: 40px;
  width: auto;
  position: relative;
  top: -2px;
}

/* ================= COMMON BORDER ================= */
.border {
  position: absolute;
  background-image: url("assets/svg/border.svg");
  background-size: auto 100%;
}

/* LEFT */
.border.left {
  bottom: 0;
  left: 0;
  width: 80%;
  height: 50px;
  transform: rotate(-90deg);
  transform-origin: top left;
  background-repeat: repeat-x;
}

/* RIGHT */
.border.right {
  bottom: 0;
  right: 0;
  width: 80%;
  height: 50px;
  transform: rotate(90deg);
  transform-origin: top right;
  background-repeat: repeat-x;
}
/*===============PluginCard================*/
.pluginCard {
  background: #ffa76b;
  padding: 60px;
  margin: 60px auto;
  max-width: 1200px;

  /* rough edges feel */
  border-radius: 6px;
  box-shadow:
    -6px 0 0 #ffa76b,
    6px 0 0 #ffa76b,
    0 -6px 0 #ffa76b,
    0 6px 0 #ffa76b;
}

.pluginContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/* LEFT */
.pluginText {
  max-width: 55%;
}

.titleSvg {
  height: 60px;
  margin-bottom: 20px;
}

.pluginText p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #1c1c1c;
}

/* BUTTONS */
.actions {
  display: flex;
  gap: 20px;
}

.pixelBtn {
  background: transparent;
  padding: 12px 28px;
  border: 2px dashed #1c1c1c;
  font-size: 16px;
  cursor: pointer;
}

/* RIGHT ICON */
.pluginIcon img {
  width: 240px;
  height: auto;
  image-rendering: pixelated;
}


/* BOTTOM */
.border.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-repeat: repeat-x;
}



/* RESPONSIVE */
@media (max-width: 768px) {

  .nav-inner {
    padding-right: 8px;
  }

  .nav-links {
    gap: 5px;
  }

  .nav-links a {
    font-size: 11px;
  }

  .nav-logo {
    font-size: 16px;
    gap: 3px;
  }

  .nav-logo img {
    width: 16px;
  }

  .landing-title {
    font-size: 52px;
  }

  .projectText img {
    height: 150px;
    width: 150px;
  }
}