:root {
  --bg: #fbf6ec;
  --text: #1c1c1c;
  --muted: #4a4a4a;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Crimson Text", serif;
  -webkit-font-smoothing: antialiased;
}

/* TOP BORDER */
.top-border {
  height: 22px;
  background-image: url("assets/svg/topborder.svg");
  background-repeat: repeat-x;
  background-size: auto 100%;
}

/* NAVBAR */

.nav-inner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-right: 20px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 32px;
  font-family: serif;
  font-weight: 600;
  color: var(--text);
}

.nav-logo img {
  width: 32px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-self: end;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: var(--text);
}

.nav-links a:hover {
  text-decoration: underline;
}

/* LANDING */
.landing {
  max-width: 980px;
  margin: 90px auto 0;
  text-align: center;
  padding: 0 24px;
}

/* TITLE */
.landing-title {
  font-size: 88px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.02em;
}

/* ICON FIX */
.icon-wrap {
  display: inline-block;
  vertical-align: middle;
  margin:1px;
  margin-bottom: 20px;
}
#icon-wrap-1{
  margin-bottom: 10px;
}
.icon-wrap img {
  height: 0.85em;
  display: inline-block;
  vertical-align: middle;
}

/* TEXT */
.landing-text {
  font-size: 14px;
  line-height: 1.65;
  color: var(--muted);
  margin-bottom: 36px;
}

/* LINKS */
.landing-links {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.landing-links a {
  font-size: 14px;
  text-decoration: none;
  color: var(--text);
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .nav-inner{
    padding-right: 8px;
  }
  .nav-links{
    gap:5px ;
  }
  
  .nav-links a {
    font-size: 11px;
  }

  .nav-logo{
    font-size: 16px;
    gap: 3px;
  }
  .nav-logo img {
    width: 16px;
  }

  .landing-title {
    font-size: 52px;
  }
}
