body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: linear-gradient(to bottom right, #dfe6f1, #cde3ef);
    padding: 12.5%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LEFT SIDE */
.logo-circle {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}

.logo-circle img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.left-content h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1a1f36;
    margin-bottom: 20px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rating .star {
    font-size: 22px;
    color: gold;
}

.rating .half {
    opacity: 0.45;  /* Half star effect */
}

#rating-para {
    font-size: 16px;
    color: #444;
    margin-left: 10px;
}


/* FLIGHT FORM BOX */
.flight-box {
    background: white;
    padding: 25px;
    width: 50%;
    border-radius: 12px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.15);
}

.trip-type {
    display: flex;
    gap: 20px;
    margin-bottom: 18px;
    font-size: 14px;
}

/* INPUT GROUP */
.input-group {
    background: #eef3f7;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.input-group .icon {
    margin-right: 12px;
    opacity: 0.7;
}

.input-group input,
.input-group select {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
}

/* Two Side Inputs */
.two-inputs {
    display: flex;
    gap: 12px;
    margin-bottom: 15px;
}

.search-btn {
    background: #0f1a2b;
    color: white;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.search-btn:hover {
    background: #0b1320;
}
